* {
  margin: 0px;
  padding: 0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: linear-gradient(to right, #34708f, rgb(26, 86, 105));
  text-align: center;
  color: rgba(255, 255, 255, 0.788);
  filter: blur(0.2px);
}

body {
  background: linear-gradient(to right, rgb(63, 114, 156), rgb(81, 145, 167)); 
  text-align: center;
  color: white;
}

button {
  border-radius: 5px;
  font-size: 13px;
  margin-left: 1em;
  padding: 0.3em;
}

button:hover {
  cursor: pointer;
}

form {
  margin-top: 2%;
}

select {
  cursor: pointer;
}

div {
  margin-top: 2%;
  background-color:rgb(52, 129, 129);
}